#header
  clearfix()

  .title
    float left
    font-family MuseoSlab-500
    font-size 36px
    font-weight 700
    letter-spacing -2px

  .app-navigation
    float right
    .icon
      float left
      margin-left 12px
      font-size 36px

  &:after
      content ""
      clear both
      display block
