#article-body
  position absolute
  width 100%
  height 100%
  transition-property translate3d
  transition-duration 0.1s
  transition-timing-function ease-out
  background-color #efefef
  transform translate3d(0, 0, 0)
  -webkit-transform translate3d(0, 0, 0)

#article-body.hidden
  transform translate3d(1000px, 0, 0)
  -webkit-transform translate3d(1000px, 0, 0)
